/*reset defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontBOLD {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*body*/
body {
  background-color: #EDEBE5;
}

/*header*/
header {
  background-color: white;
  height: 140px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  padding: 0 30px;
  height: 100%;
  max-width: 800px; 
  margin: 0 auto;
}

.nav-logo {
  width: 250px;
  height: auto;
}

/*main*/
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.content p {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.button {
  display: inline-block;
  background-color: white;
  padding: 30px 60px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.button:visited {
  color: black;
}

/*media query*/
@media (max-width: 768px) {

}