/*reset defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontBOLD {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*body*/
body {
    background-color: #EDEBE5;
}

/*header*/
header {
    background-color: white;
    height: 140px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    padding: 0 30px;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.nav-logo {
    max-width: 450px;
    min-width: 150px;
    width: 100%;
    height: auto;
}

/*main*/
.content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

    .content p {
        margin-bottom: 20px;
        font-size: 1.5em;
    }

.button {
    display: inline-block;
    background-color: white;
    padding: 30px 60px;
    text-decoration: none;
    border-radius: 10px;
    border-color: white;
    border: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

    .button:visited {
        color: black;
    }

/*search bar*/
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

#career-search {
    flex-grow: 1; /*grows the inside of the search bar for long inputs*/
    font-size: 1.5em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    text-align: center;
}

.search-button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}


/*info cards*/
.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background-color: black;
    color: white;
    padding: 30px 20px;
    width: 33%; /*equal width boxes*/
    border-radius: 10px;
    text-align: center;
}

    .card h3 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    .card p {
        margin: 5px 0;
        font-size: 1.2em;
    }

.separator {
    height: 1px;
    background-color: #333; /*slightly lighter black*/
    margin: 15px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*media query for phones*/
@media (max-width: 768px) {
    nav {
        font-size: 1em;
    }

    .cards-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
